# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# virtual environments
venv/
.env/
.venv/

# =========================
# Jupyter (if used later)
# =========================
.ipynb_checkpoints/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Experiment outputs
# =========================
outputs/
results/
tmp/

# =========================
# Python build artifacts
# =========================
build/
dist/
*.egg-info/

# =========================
# Environment files
# =========================
.env
